.Application {
    font-family: sans-serif;
    text-align: center;
  }

  h1,h2,button{
    display: flex;
    justify-content:center;
  }

  li{
    display: flex;
    justify-content:center;
  }

  
.isDone {
  text-decoration: line-through;
}
